<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v3.8.5">

  <title>訂單詳情 ｜ NCU MIS SA</title>

  <!-- Bootstrap core CSS -->
  <link href="statics/css/bootstrap.min.css" rel="stylesheet">
  <link href="statics/css/font-awesome.min.css" rel="stylesheet">



  <style>
.top {
	background-color: brown;
	height: 80px;
	line-height: 80px;
}

#topword {
	color: cornsilk;
	font-size: 50px;
	margin: auto;
	padding-left: 25px;
	font-family: Microsoft JhengHei;
}

.linkpage {
	font-weight: bold;
	color: green;
	font-size: 20px;
	font-family: Microsoft JhengHei;
}

#leftcontainer {
	text-align: right;
	padding-right: 10px;
}

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
     .header{
 font-weight: bold;
	color: brown;
	font-size: 29px;
	font-family: Microsoft JhengHei;
 
 
 }
 .word{
  
	color: darkgreen;
	font-size: 20px;
	font-family: Microsoft JhengHei;
 
 }
 .word2{
 
	color: black;
	font-size: 15px;
	font-family: Microsoft JhengHei;
 
 }
 
 .itemdiv{
 
 padding-top:5px;
 }
 .tableproduct {
	text-align: center;
	font-family: Microsoft JhengHei;
	font-size: 16px;
	color: black;
}
 .big{
padding:20px;
border-radius:20px;
border-color:brown;
border-style:solid;
 
 }
 .tablecontent {
	font-weight: bold;
	text-align: center;
	font-family: Microsoft JhengHei;
	font-size: 16px;
	color: brown;
}
.totalprice{
font-weight: bold;
font-size: 38px;
text-align: right;
	font-family: Microsoft JhengHei;
		color: chocolate;

}
  </style>
  <!-- Custom styles for this template -->
  <link href="statics/css/product.css" rel="stylesheet">
  <link href="statics/css/jquery-confirm.css" rel="stylesheet">

  <script src="statics/js/jquery-3.4.1.min.js"></script>
  <script src="statics/js/jquery-confirm.js"></script>
  <script src="statics/js/big.min.js"></script>
</head>

<body>
	<div class="top">
		<label id=topword><b>訂單列表</b></label>
	</div>
	
	<div>
	<div id="leftcontainer">
			<a href="user_index.html" class="linkpage">會員清單</a> 
			<a href="manager_index.html" class="linkpage">管理員清單</a> 
			<a href="manager_order.html" class="linkpage">訂單瀏覽</a> 
			<a href="manager_product.html" class="linkpage">商品管理</a> 
			<a href="manager_addproduct.html" class="linkpage">新增商品</a>
			<a onclick="logOut()" class='linkpage text-danger'>登出</a>
		</div>
	</div>
  

  

  <div class="container">
	  <div class="py-5">    
	  	<div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="header">訂單資料</h6>
        
        <div class="big">
	          <div class="word2">
	            <strong class="word">訂單編號</strong>
	            <span id="order_id" class="word2">{{order_id}}</span>
	         </div>
	       
	        <br>
	     
              <div class="word2">
               <strong class="word">取餐時間</strong>
               <span id="pickup_time" class="word2">>{{pickup_time}}</span>
             </div>
            <br>
        
        <div class="word2">
               <strong class="word">姓名</strong>
               <span id="name" class="word2">{{name}}</span>
          
           </div>
              <br>
       
    <div class="word2">
              <strong class="word">手機號碼</strong>
              <span id="phone" class="word2">>{{phone}}</span>
         
          </div>
             <br>
          
    
         
        <div class="word2">
              <strong class="word">電子郵件</strong>
              <span id="email" class="word2">>{{email}}</span>
          </div>   
        
                 <br>     
     
            <div class="word2">
               <strong class="word">備註</strong>
               <span id="remarks" class="word2">>{{remarks}}</span>
          </div> 
         </div>
      
        
        <H3 class="totalprice">總價：$ <span id="total">{{total}}</span></H3>
      </div>


       
       <div class="table-responsive">
         <table id="table" class="table table-striped table-sm">
           <thead>
             <tr>
               <th class="tablecontent" style="width: 20%">商品編號</th>
               <th class="tablecontent" style="width: 20%">品名</th>
               <th class="tablecontent" style="width: 20%">單價</th>
               <th class="tablecontent" style="width: 20%">數量</th>
               <th class="tablecontent" style="width: 20%">小計</th>
             </tr>
           </thead>
           <tbody id="panel">
           </tbody>
         </table>
       </div>
     </div>
  </div>

  <script>
  var email = localStorage.getItem('Email'); 
	var login = localStorage.getItem('Login'); 
	
	if (login == 'False') {
		alert("您尚未登入！");
		window.location = 'home.html';
	}

	 
	function logOut() {
  	var check = window.confirm("確定要登出嗎?");
  	if (check == true) {
  		console.log("You pressed OK!");
  		localStorage['Email'] = '';
  		localStorage['Login'] = 'False';
  		window.location = 'home.html';
  		}
  	else {
  		console.log("You pressed Cancel!");
  	}
  }
	
  //取得網址參數
  var url_string = window.location.href;
  var url = new URL(url_string);
  var id = url.searchParams.get("id");
  
  function getOrderData() {
	  $.ajax({
          type: "GET",
          url: "api/order.do",
          data: "id=" + id,
          crossDomain: true,
          cache: false,
          dataType: 'json',
          timeout: 5000,
          success: function (response) {
              if(response.status == 200){
            	  updateHTML(response.response.data);
              }
          },
          error: function () {
              alert("無法連線到伺服器！");
          }
    });
  }
  
  getOrderData();
  
  function updateHTML(data) {
	  $("#order_id").html(data['order_info']['id']);
	  $("#remarks").html(data['order_info']['remarks']);
	  $("#pickup_time").html(data['order_info']['pickup_time']);
	  $("#email").html(data['order_info']['email']);
	  $("#pickup").html(data['order_info']['address']);
	  $("#phone").html(data['order_info']['phone']);
	  $("#name").html(data['order_info']['name']);
	  $("#item").html(data.product_info.length);
	  
	  var total_price = Big(0.0);
	  var quantity = 0;
	  var inner_html = "";
	  
	  $.each(data.product_info, function (k, v) {
		  quantity += v['quantity'];
		  total_price = total_price.plus(v['subtotal']);
		  inner_html += updateOrderProductTable(v);
	  });
	  
	  $("#quantity").html(quantity);
	  $("#total").html(total_price.toString());
	  
	  $("#table > tbody").empty();
	  $("#panel").append(inner_html);

  }
  
  function updateOrderProductTable(data) {
	  var table_html = "";
	  table_html += '<tr id="row_' + data.id + '">';
    table_html += '<td class="tableproduct">' + data.product.id + '</td>';
    table_html += '<td class="tableproduct"><p class="text-break">' + data.product.name + '</p></td>';
    table_html += '<td class="tableproduct"><span id="price_' + data.id + '">' + data.price + '</td>';
    table_html += '<td class="tableproduct">' + data.quantity + '</td>';
    table_html += '<td class="tableproduct"><strong><span id="subtotal_' + data.id + '">' + data.subtotal + '<strong></td>';
    table_html += '</tr>';
	  
	  return table_html;
	  
  }
  </script>


</body>

</html>
